/*standard elements*/
body {
    /*created in photoshop using images from image folder*/
    background-image: url('images/Background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%; /*keeps background size intact*/
    height: auto;
    font-size: 1.125em; /*16px*/
    font-family: Arial, Helvetica, sans-serif;
    color: #0b547d;
}

h1 {
    letter-spacing: -2px;
}

a { /*links excluding menus*/
    color: #282828;
}

#skipnav a {
    color: #0b547d; /*darkblue*/
    text-decoration: none;
}

    #skipnav a:hover {
        color: #005aff;
    }

img {
    border: 0px; /*Hides border in IE*/
}

#navtopleft img {
    max-width: 100%;
    position: relative;
    top: 1em;
    left: 0.5em;
}

#navmid img {
    max-width: 100%;
    position: relative;
    bottom: 3.5em;
    left: 44em;
}

#navmid p {
    position: relative;
    top: 2.5em;
    left: 0.5em;
}

#navtopright ul {
    list-style-type: none;
    text-align: left;
    font-size: 120%;
    padding-top: 20px;
}

#navtopright li {
    display: inline;
}

#navtopright a {
    padding: 7.5% 3.0%;
    color: #0b547d; /*darkblue*/
    text-decoration: none;
}

    #navtopright a:hover {
        background-color: #282828; /*gray*/
        color: #005aff;
    }

    #navtopright a:active {
        background-color: #282828; /*gray*/
        color: white;
    }

#navmid ul {
    list-style-type: none;
    text-align: center;
    font-size: 120%;
    position: relative;
    bottom: 0.05em;
    left: 4.5em;
}

#navmid li {
    display: inline;
}

#navmid ul a {
    padding: 1.92em 1.0em;
    color: #0b547d; /*darkblue*/
    text-decoration: none;
}

    #navmid ul a:hover {
        background-color: #282828; /*gray*/
        color: #005aff;
    }

    #navmid ul a:active {
        background-color: #282828; /*gray*/
        color: white;
    }

#footer ul {
    list-style-type: none;
    text-align: center;
}

#footer li {
    display: inline;
}

#footer a {
    padding: 2.0% 6.0%;
    color: white;
    text-decoration: none;
}

    #footer a:hover {
        background-color: #4e4e4e; /*gray*/
        color: #005aff; /*darkblue*/
    }

    #footer a:active {
        background-color: #4e4e4e; /*gray*/
        color: white;
    }

#frmContact { /*Contact form*/
    width:500px;
    height:auto;
    padding:10px;
    border: 1px solid #999;
}

.btnSend/*Styles send button*/
 { 
    width: 500px;
    background-color: gray;
    color: white;
    font-size: 20px;
 }

.error{
    color: Red;
}

.errorMessages{
    border: 1px solid red;
    color:Red;
    background-color:#FFCCCC;
    margin-bottom:5px;
}


/*Google Maps API formatting*/
#map_canvas {
    width:500px;
    height:500px;
}

#contactMap {
    width:520px;
    height:300px;
    margin-top:10px;
}

label {
    width:200px;
    display:inline-block;
}

/*structural*/
#container {
    background-image: url('images/Background.png');
    background-repeat: repeat-y;
    width: 960px;
    height: auto;
    margin: 0px auto;
    /*border-radius: 20px;round edges*/
}

#skipnav {
    text-align: center;
}

#navtopleft {
    background-image: url('images/navtopleft.png');
    width: 37%;
    height: 108px;
    float: left;
    box-shadow: 10px 1px 20px #888888;
}

#navtopright {
    background-image: url('images/navtopright.png');
    width: 63%;
    height: 108px;
    float: right;
    box-shadow: 10px 5px 20px #888888;
}

#navmid {
    background-image: url('images/navmid.png');
    width: 100%;
    height: 108px;
    clear: both;
    box-shadow: 10px 10px 20px #888888;
}

#maincontent1 {
    width: 890px;
    height: auto;
    margin: 20px;
    padding:10px;
    border: 5px solid gray;
    text-align: left;
    background-color: #e3e3e3;
    box-shadow: 10px 10px 20px #888888;
    clear:both;
}

    #maincontent1 table {
    text-align:center;
    }

#footer {
    width: 960px;
    height: auto;
    text-align: center;
    background-color: #282828;
    color: white;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    box-shadow: 10px 10px 20px #888888;
}