vti_encoding:SR|utf8-nl
vti_author:SR|NOTAVIRUS\\Andy
vti_modifiedby:SR|NOTAVIRUS\\Andy
vti_timelastmodified:TR|14 May 2014 10:38:51 -0000
vti_timecreated:TR|14 May 2014 09:44:41 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Site.dwt Trails/RibbleValley.html Trails/WaveneyValley.html Trails/Scotland/MaltWhisky.html Trails/Scotland/RealAle.html Trails/Chester.html Trails/Flintshire.html Help.html AboutUs.html AboutFoodTrails.html Trails/Rutland.html Trails/Dengie.html Trails/Exeter.html Trails/Scotland/FinestFlavours.html default.html Trails.html Map.html Trails/ClwydianRange.html Trails/CarmarthenshireRegions.html Trails/Scotland/Cheese.html TrailWebsites.html Trails/Scotland/WhiskyCoast.html Trails/Scotland/LochLomond.html Trails/Scotland/OuterHebrides.html
vti_nexttolasttimemodified:TW|14 May 2014 09:46:02 -0000
vti_cacheddtm:TX|14 May 2014 10:38:51 -0000
vti_filesize:IR|211
