vti_encoding:SR|utf8-nl
vti_author:SR|SIMON-HP\\Simon
vti_modifiedby:SR|SIMON-HP\\Simon
vti_timelastmodified:TR|23 May 2014 09:49:48 -0000
vti_timecreated:TR|16 May 2014 09:07:51 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Site.dwt TrailWebsites.html Trails/WaveneyValley.html Trails/RibbleValley.html Trails/Flintshire.html Trails/Chester.html AboutFoodTrails.html AboutUs.html Help.html Trails/Rutland.html Trails/Exeter.html Trails/Dengie.html index.html Map.html Trails.html Trails/ClwydianRange.html Trails/CarmarthenshireRegions.html
vti_nexttolasttimemodified:TW|23 May 2014 09:49:20 -0000
vti_cacheddtm:TX|23 May 2014 09:49:48 -0000
vti_filesize:IR|3
